.Select {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.Select-control,
.Select.is-open > .Select-control,
.Select.is-focused:not(.is-open) > .Select-control {
  background-color: #111;
  border-color: #222;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #eee;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #eee;
}

.Select-menu-outer {
  background-color: #222;
}

.Select-option {
  color: #eee;
  background-color: #111;
}

.Select-option.is-selected {
  background-color: #333;
  color: #fff;
}

.Select-option.is-focused {
  background-color: #222;
  color: #eee;
}

.Select-clear-zone {
  display: none;
}
